<footer class="footer">
  <section class="footer__container">
    <div class="footer__contact">
      <h4 class="footer__title">kontakt</h4>
      <p>Tornbuskvej 22, 1.</p>
      <p>1131 København K</p>
      <p>CVR: 22446187</p>
      <p>Husk at du kan få fradrag for donationer på op til 16.600 kr</p>
    </div>
    <div class="footer__partner">
      <h4 class="footer__title">partner</h4>

      <p><a href="">anima</a></p>
      <p><a href="">world animal protection</a></p>
      <p><a href="">fødevarestyrelsen</a></p>
      <p><a href="">faktalink</a></p>
    </div>
  </section>
  <div class="footer__copy">
    <p>&copy; 2020 - Foreningen for dyrevelfære</p>
  </div>
</footer>
