<header class="header">
  <section class="header__container">
    <h1 class="header__title">Foreninger for Dyrevelfærd</h1>
    <p class="header__text">Vi specaialisere os i dyrevelfærd</p>
  </section>
</header>
