<div class="burger">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
</div>

<nav class="nav">
  <div class="logo">
    <img class="logo__img" src="../../../assets/images/logo.png" alt="" />
    <h3 class="logo__name">Foreningen for Dyrevelfærd</h3>
  </div>
  <ul class="nav-list">
    <li><a href="#">hjem</a></li>
    <li><a href="#about">om os</a></li>
    <li><a href="#volunteer">bliv frivilig</a></li>
    <li><a href="#banner">dyr i nød</a></li>
    <li><a href="#animal">adopter et dyr</a></li>
  </ul>
</nav>
