<main>
  <article id="about" class="about">
    <!-- <div class="about__container">
      <h1 class="about__title">About</h1>
      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem
        nemo architecto excepturi, quia quibusdam praesentium. Nemo impedit ex
        nesciunt illum. Iste repellendus sequi sapiente soluta commodi minus
        tempore illum eius magni! Quo provident illo quod sunt facilis
        praesentium alias nihil neque, deserunt iusto, ea error impedit
        sapiente. Quae fugit quod, quibusdam animi quaerat aperiam provident
        eveniet placeat odit delectus?
      </p>
    </div>
    <div class="about__container">
      <h1 class="about__title">About</h1>
      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem
        nemo architecto excepturi, quia quibusdam praesentium. Nemo impedit ex
        nesciunt illum. Iste repellendus sequi sapiente soluta commodi minus
        tempore illum eius magni! Quo provident illo quod sunt facilis
        praesentium alias nihil neque, deserunt iusto, ea error impedit
        sapiente. Quae fugit quod, quibusdam animi quaerat aperiam provident
        eveniet placeat odit delectus?
      </p>
    </div>
    <div class="about__container">
      <h1 class="about__title">About</h1>
      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem
        nemo architecto excepturi, quia quibusdam praesentium. Nemo impedit ex
        nesciunt illum. Iste repellendus sequi sapiente soluta commodi minus
        tempore illum eius magni! Quo provident illo quod sunt facilis
        praesentium alias nihil neque, deserunt iusto, ea error impedit
        sapiente. Quae fugit quod, quibusdam animi quaerat aperiam provident
        eveniet placeat odit delectus?
      </p>
    </div> -->
  </article>
</main>

<template id="about__template" class="about__template">
  <div class="about__container">
    <h1 class="about__title"></h1>
    <p class="about__text"></p>
  </div>
</template>
