<article class="animal">
  <h1 class="animal__title">dyr hos os</h1>
  <p class="animal__text">5 dyr</p>
  <section class="animal__container">
    <div class="animal__card">
      <img class="animal__img" src="../../assets/images/tristan.jpg" alt="" />
      <div class="animal__info">
        <h3 class="info__title">jesper</h3>
        <p class="info__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          hic, quia quibusdam ipsam perferendis fugiat dolore totam amet saepe
          officiis incidunt.
        </p>
        <p class="info__text-small">været på internetet 82dage</p>
      </div>
    </div>
    <div class="animal__card">
      <img class="animal__img" src="../../assets/images/tristan.jpg" alt="" />
      <div class="animal__info">
        <h3 class="info__title">jesper</h3>
        <p class="info__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          hic, quia quibusdam ipsam perferendis fugiat dolore totam amet saepe
          officiis incidunt.
        </p>
        <p class="info__text-small">været på internetet 82dage</p>
      </div>
    </div>
    <div class="animal__card">
      <img class="animal__img" src="../../assets/images/tristan.jpg" alt="" />
      <div class="animal__info">
        <h3 class="info__title">jesper</h3>
        <p class="info__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          hic, quia quibusdam ipsam perferendis fugiat dolore totam amet saepe
          officiis incidunt.
        </p>
        <p class="info__text-small">været på internetet 82dage</p>
      </div>
    </div>
    <div class="animal__card">
      <img class="animal__img" src="../../assets/images/tristan.jpg" alt="" />
      <div class="animal__info">
        <h3 class="info__title">jesper</h3>
        <p class="info__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          hic, quia quibusdam ipsam perferendis fugiat dolore totam amet saepe
          officiis incidunt.
        </p>
        <p class="info__text-small">været på internetet 82dage</p>
      </div>
    </div>
  </section>
</article>
