<main>
  <article id="banner2" class="banner2">
    <section class="banner__container2">
      <h1 class="banner__title2"></h1>
      <p class="banner__text2">
        <!-- overvejer du et nyt medlem af familien? Måske du er perfekte match til
        et dyr af vores mange svigtede internatdyr som venter nye kærlige hjem -->
      </p>
    </section>
  </article>
</main>
