<article id="banner2" class="banner2">
  <section class="banner__container">
    <h1 class="banner__title">adopter et dyr</h1>
    <p class="banner__text">
      overvejer du et nyt medlem af familien? Måske du er perfekte match til et
      dyr af vores mange svigtede internatdyr som venter nye kærlige hjem
    </p>
  </section>
</article>
