<article id="banner" class="banner">
  <section class="banner__container">
    <h1 class="banner__title">Står du med et dyr i nød</h1>
    <p class="banner__text">
      ring til Dyrenes Vagtcentral på 1812 og få råd til at hjælp og håndtering
      af dyr
    </p>
  </section>
</article>
