<header class="header">
  <%- include('../partials/spinner') %>
  <section class="header__container">
    <h1 class="header__title"></h1>
    <p class="header__text"></p>
  </section>
</header>
<!-- <script src="../../../assets/js/index.js"></script>

<script src="../../../assets/js/header.js"></script> -->
