<main>
  <article id="volunteer" class="volunteer">
    <section class="volunteer__container">
      <h2 class="volunteer__title">bliv frivillig</h2>
      <!-- <div class="volunteer__card">
        <div class="card__box">
          <h4 class="card__title">ANIMAL SAVER</h4>
        </div>
        <div class="card__img-container">
          <img
            class="card__img"
            src="../../../assets/images/volunteer.jpg"
            alt=""
          />
        </div>
        <p class="card__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
          iste aperiam pariatur, quia laboriosam labore, hic odio provident
          doloribus maiores ullam veniam eum perspiciatis tenetur laborum optio
          consequuntur! Sint, totam quidem! Doloremque fugiat soluta
          reprehenderit sint. Pariatur magnam libero maxime saepe esse tempora
          nesciunt ut! Praesentium hic harum vero laborum?
        </p>

        <div class="card__box-btm">
          <p class="card__warning">OBS!!</p>
        </div>
      </div>
      <div class="volunteer__card">
        <div class="card__box">
          <h4 class="card__title">ANIMAL SAVER</h4>
        </div>

        <div class="card__img-container">
          <img
            class="card__img"
            src="../../../assets/images/volunteer.jpg"
            alt=""
          />
        </div>
        <p class="card__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
          iste aperiam pariatur, quia laboriosam labore, hic odio provident
          doloribus maiores ullam veniam eum perspiciatis tenetur laborum optio
          consequuntur! Sint, totam quidem! Doloremque fugiat soluta
          reprehenderit sint. Pariatur magnam libero maxime saepe esse tempora
          nesciunt ut! Praesentium hic harum vero laborum?
        </p>

        <div class="card__box-btm">
          <p class="card__warning">OBS!!</p>
        </div>
      </div>
      <div class="volunteer__card">
        <div class="card__box">
          <h4 class="card__title">ANIMAL SAVER</h4>
        </div>

        <div class="card__img-container">
          <img
            class="card__img"
            src="../../../assets/images/volunteer.jpg"
            alt=""
          />
        </div>
        <p class="card__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
          iste aperiam pariatur, quia laboriosam labore, hic odio provident
          doloribus maiores ullam veniam eum perspiciatis tenetur laborum optio
          consequuntur! Sint, totam quidem! Doloremque fugiat soluta
          reprehenderit sint. Pariatur magnam libero maxime saepe esse tempora
          nesciunt ut! Praesentium hic harum vero laborum?
        </p>

        <div class="card__box-btm">
          <p class="card__warning">OBS!!</p>
        </div>
      </div> -->
    </section>
  </article>
</main>

<template id="volunteer__template" class="about__template">
  <div class="volunteer__card">
    <div class="card__box">
      <h4 class="card__title"></h4>
    </div>

    <div class="card__img-container">
      <img
        class="card__img"
        src="../../../assets/images/volunteer.jpg"
        alt=""
      />
    </div>
    <p class="card__text"></p>
    <div class="card__box-btm">
      <p class="card__warning"></p>
    </div>
  </div>
</template>
