<article id="volunteer" class="volunteer">
  <section class="volunteer__container">
    <h2 class="volunteer__title">bliv frivillig</h2>
    <div class="volunteer__card">
        <h4 class="volunteer__card-title">ANIMAL SAVER</h4>
          <div>
            <img src="../../../assets/images/volunteer.jpg" alt="" />
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
              iste aperiam pariatur, quia laboriosam labore, hic odio provident
              doloribus maiores ullam veniam eum perspiciatis tenetur laborum optio
              consequuntur! Sint, totam quidem! Doloremque fugiat soluta reprehenderit
              sint. Pariatur magnam libero maxime saepe esse tempora nesciunt ut!
              Praesentium hic harum vero laborum?
            </p>
          </div>
          <div>
            <p>OBS!!</p>
          </div>
        </section>
    </div>
    
</article>
