.footer {
  background-color: $background-color;
  padding: 1rem 2rem 1rem;
  &__container {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contact,
  p {
    padding: 5px 0;
    font-weight: $fw-500;
  }
  &__contact,
  a {
    text-decoration: none;
    color: #000;
  }
  &__title {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: $fw-500;
    text-transform: uppercase;
  }
  &__partner a {
    color: $title-color;
    text-transform: capitalize;
  }
  &__copy {
    padding: 1rem 0 0;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__container {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
