.header {
  position: relative;
  background: no-repeat rgba($color: #000000, $alpha: 0.3);
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-blend-mode: overlay;
  &__container {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    padding: 5rem 2rem;
  }
  &__title {
    font-size: 2rem;
    color: $base-color;
    font-weight: $fw-500;
    letter-spacing: 1.5px;
    padding: 1rem 0;
  }
  &__text {
    font-size: 1rem;
    font-weight: $fw-500;
    color: $base-color;
  }
}

// MOBILE MEDIA

@media screen and (min-width: 768px) {
  .header {
    background: url("../../assets/images/kittens.jpg") no-repeat;

    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-blend-mode: overlay;

    .header__container {
      width: 100%;
      max-width: $max-width;
      margin: auto;
      padding: 5rem 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
      .header__title {
        font-size: 2.5rem;
        color: $base-color;
        font-weight: $fw-500;
        letter-spacing: 1.5px;
      }
      .header__text {
        font-size: 1.2rem;
        font-weight: $fw-500;
        color: $base-color;
      }
    }
  }
}
